<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rednet.coh" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>City of Heroes - Codex</name>
    <description>
        City of Heroes - Codex
    </description>
    <author email="douglas.redman2@gmail.com" href="http://phonegap.com">
        Douglas Redman
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
